@charset "UTF-8";

body { font-family: Inter, sans-serif;
    color: #0e092e;
    font-size: 1em;
    line-height: 140%;}

header { 
    display: grid;
    min-height: 100vh;
    padding: 0vh 0vw;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-row-gap: 0px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
        background-color: rgb(250, 247, 240);}
.header-first { padding-top: 7vh; }
header .logo { 
                padding-right: 3vw;
                padding-left: 3vw;  }
header .logo img { max-width: 80%; }
.header-second { display: flex; height: 100%; 
                justify-content: center; align-items: center; }
.circle-box { display: grid;    
            grid-column-gap: 30px;
            grid-row-gap: 30px; 
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;}
.animation-item { border-radius: 50%; width: 130px; height: 130px;
                overflow: hidden; 
                transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) 
                rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); 
                transform-style: preserve-3d;}
.animation-image { width: 150%;  }

#navi { display: flex; flex-direction: column; 
    justify-content: center;    }
.navi-item a { color: #111; font-size: 1.2em;
    line-height: 140%; }
.navi-item-box {display: flex; flex-direction: column;
             padding: 30%;
}
.navi-item { margin-bottom: 20px;}

/* section 공통 */
.container { width: 1200px; height: auto; padding: 25vh 0vw;
            margin: 0 auto;  }
.container .title { width: 60%; }
.container .right { width: 40%;}
.container>h2 { width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 3em;
    line-height: 110%;
    font-weight: 400;
    letter-spacing: 0.2em;
}
h3 { font-size: 1.8em;
    line-height: 150%;
    font-weight: lighter;
    margin-top: 50px;
    text-align: justify; }

h4 { font-size: 1.2em;
    line-height: 160%;
    font-weight: lighter;
    text-align: justify; }

    .content-box { display: flex; }
/* about me */
#aboutme { height: auto; background-color: rgb(240, 219, 213);}
.sticky-text { width: 80%; 
            margin-top: 600px;
            position: sticky;
            top: 10px;
            font-size: 3em;
            line-height: 110%;
            letter-spacing: 0.1em;
            line-height: 120%;
            font-weight: 300;}

.sub-title { font-weight: 400;}
#aboutme .right div { width: 100%; height: 800px; 
    background-size: cover;
    background-position:center;
    margin-top: 100px; }

#work { height: 712px; background-color: thistle;}
#collaborations { height: 712px; background-color: rgb(198, 232, 252);}
#news { height: 712px; background-color: rgb(181, 233, 204);}
#shop { height: 712px; background-color: rgb(241, 201, 168);}
#contact { height: 712px; background-color: rgb(199, 195, 243);}
